.vscode/**
.vscode-test/**
src/**
!src/panels/
!src/panels/createExperiment/
!src/panels/createExperiment/script.js
!src/panels/createExperiment/styles.css
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
.convert/**
*.vsix
out/test/**
out/**/*.test.js
